<p id="notice"><%= notice %></p>

<h1>Hello World!</h1>
<table>
  <thead>
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.FirstName %></td>
        <td><%= person.LastName %></td>
        <td><%= person.age %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Who are you?', new_person_path %>
