<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @person.FirstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.LastName %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
